* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    color: white;
}

body,
input,
button,
textarea {
    font: 400 1.6rem/1 'Nunito', sans-serif;
}

#pageLanding {
    background: linear-gradient(329.5deg, #5baef7 5%, #39e8b6 100%);
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#container {
    width: 90%;
    margin: auto;
}

#container header img {
    height: 15rem;
}


.title, h1, .adding p{
    height: 16vh;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    text-align: right;
    background: #f3f0f0;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    width:fit-content;
}

.adding a {
    width: 5rem;
    height: 5rem;
    background: #ffd666;
    border: none;
    border-radius: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    transition: background 0.3s ease-in-out;
}

.adding a:hover {
    background: #96feff;
}

.adding a img {
    height: 2rem;
}

/* animações */

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animateup {
    animation-name: up;
    animation-duration: 0.5s;
    animation-fill-mode: backwards;
}

#logo {
    animation-delay: 50ms;
}

.title {
    animation-delay: 100ms;
}

.main h1 {
    animation-delay: 150ms;
}

.adding p {
    animation-delay: 200ms;
}

.adding a {
    animation-delay: 250ms;
}
