.card {
    display: flex;
    height: 3vh;
    text-align: right;
    justify-content: space-between;
    /* margin: auto; */
    color: #676669;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border:none;
    transition: all 0.2s ease-in-out;
  }
  
  .removeButton {
    background: #d70303;
    border-radius: 2.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    scale: .6;
    color: white;
  }